# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://xxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=xxxx
SUPABASE_SERVICE_ROLE_KEY=xxxx

# Auth
NEXT_PUBLIC_SITE_URL=http://localhost:3000
ADMIN_EMAILS=admin1@smail.iitm.ac.in,admin2@smail.iitm.ac.in

# Optional
NEXT_PUBLIC_HOSTEL_NAME=Jamuna Hostel
